In [1]:
import pandas as pd
import numpy as np

import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle

In [4]:
# load model
model = load_model('annclassification\model.h5')

# load encoder
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

# load oneHotEncoder
with open('one_hot_encoder_geo.pkl','rb') as file:
    label_encoder_geo = pickle.load(file)

# load scalar
with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

WARNING:tensorflow:From c:\Users\hanum\OneDrive\Learning\ANN\ann_env\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [6]:
# input data
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

# create a dataframe

input_df = pd.DataFrame([input_data])

input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [7]:
geo_encoder = label_encoder_geo.transform(input_df[['Geography']])
geo_encoder_df = pd.DataFrame(geo_encoder,columns=label_encoder_geo.get_feature_names_out())
input_df_v1 = pd.concat([input_df.drop('Geography',axis=1),geo_encoder_df],axis=1)
input_df_v1.head()

   CreditScore Gender  ...  Geography_Germany  Geography_Spain
0          600   Male  ...                0.0              0.0

[1 rows x 12 columns]

In [10]:
input_df_v1

   CreditScore Gender  ...  Geography_Germany  Geography_Spain
0          600   Male  ...                0.0              0.0

[1 rows x 12 columns]

In [11]:

#input_df_v1['Gender'] = label_encoder_gender.transform(input_df_v1['Gender'])

input_df_v1['Gender'] = 1

In [12]:
input_df_v1

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [13]:
# scale input data

input_scaled = scaler.transform(input_df_v1)

In [15]:
# prediction
prediction_prob = model.predict(input_scaled)
prediction_prob

1/1 [==============================] - 0s 23ms/step

array([[0.02973952]], dtype=float32)

In [18]:
prediction_prob[0][0]

0.029739516

In [16]:
if prediction_prob[0][0] > 0.5:
    print("Customer is likely to churn")
else:
    print("Customer is not likely to churn")

Customer is not likely to churn